{% extends "base.twig" %}

{% block before_content %}{% endblock %}
{% block content %}
<section class="grid-container">
  <header class="grid-margin-x padded huge text-center">
    <h1>{{ post.get_field('heading') }}</h1>
    <p class="sub-heading">{{ post.get_field('subheading') }}</p>
  </header>
</section>
<div class="portfolio-container">
  <section class="grid-container">
    <div class="grid-x grid-padded-x small-up-1 medium-up-2 portfolio-grid">
      {% for item in portfolio_items %}
        {% include "partials/portfolio-item.twig" with {'item': item} %}
      {% endfor %}
    </div>
    {% if pagination.total > 1 %}
      <div class="grid-x grid-padded-x">
        <div class="auto cell align-center">
          <a href="#" class="button-load-more" data-page="2" data-limit="{{ portfolio_items|length }}">Load More<br><i class="icon ion-ios-arrow-down"></i></a>
        </div>
      </div>
    {% endif %}
  </section>
</div>
{% endblock %}
{% block after_content %}{% endblock %}